<section class="card">

  <div class="card-body">

    <div> id: <a id="commentid">{{id}}</a></div>
    {{!-- <div> post id: <a id="postid">{{post_id}}</a></div> --}}

    <a class="btn" id="updateThisCommentbtn" onclick="window.location" aria-current="page"
          href='./viewNote/{{post_id}}'>update</a>
    <a class="btn" id="deleteCommentbtn" onclick="window.location" aria-current="page"
          href='/home'>delete</a>

    <div class="form">
      <textarea class="form-control" id="comment" >{{comment}}</textarea>
      {{!-- <label for="floatingInput">title</label> --}}
    </div>

      </div >
      </a>
</section>