<section class="card">

  <div class="card-body">
      
        <div class="list" id="comment"> comment : {{comment}}</div>
        <div class="list" id="date"> date :{{date}}</div>
        {{!-- <div class="list" id="id"> id : {{id}}</div>
        <div class="list" id="user_id"> id : {{user_id}}</div> --}}
        
      </div>
      </a>
      
</section>