<head>
  <meta charset="UTF-8">
  <title>Tech-Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
      <main class="container">
     {{{ body }}}
      </main>
  </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/index.js"></script>


  </body>

</html>