<head>
  <meta charset="UTF-8">
  <title>Tech-Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
      <main class="container">
     {{{ body }}}
      </main>
  </div>
  </body>

</html>