<nav class="navbar">
  <div id="navBar">
      <div class="nav-items">
        <a class="btn" onclick="window.location" aria-current="page"
          href="./home">home</a>
          <a class="btn" id="logout" onclick="window.location" aria-current="page"
          href="./login">logout</a>
          <a class="btn" onclick="window.location" aria-current="page"
          href="./newPost">new post</a>
      </div>
  </div>
  </div>
</nav>
<div class="basic blog"><div class="title">My Tech Blog</div>

<div class="basic">
  <section>
    <section class="flex-row justify-center">
      {{#each titles as |post|}}
      <p>{{> notesList}}</p>
      {{/each}}
    </section>
  </section>
</div>
</div>

<script src="/js/logout.js"></script>