<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navBar" id="navBar">
      <div class="nav-item">
        <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./home">home</a>
          <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./newUser">create user</a>
      </div>
  </div>
  </div>
</nav>

  <h1>Tech-Blog</h1>
  <div class="col row-6">
    <h3>login</h3>
    
      <div>
        <form class="login-form">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">email</label>
            <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">password</label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
          <button type="submit" class="btn btn-primary" id="loginbtn">login</button>
        </form>
      </div>
    

  </div>

  <script src="/js/login.js"></script>