<nav class="navbar">
  <div id="navBar">
      <div class="nav-items">
        <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./home">home</a>
          <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./newUser">create user</a>
      </div>
  </div>
  </div>
</nav>
<div class="basic" >My Tech Blog</div>

  <div class="basic" >Welcome</div>
  <div class="col row-6">
    <div class="basic" >login</div>
    
      <div class="basic" >
        <form class="login-form">
          <div class="mb-3">
            <div>email : </div>
            <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <div>password : </div>
            <input type="password" class="form-control" id="loginPassword">
          </div>
          <button type="submit" class="btn" id="loginbtn">login</button>
        </form>
      </div>
    

  </div>

  <script src="/js/login.js"></script>