<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar">
        <li class="nav">
          <a class="btn" id="signUpBtn" onclick="window.location" aria-current="page" href="./newUser">create a
            profile</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <h1>Tech-Blog</h1>
  <div class="col row-6">
    <h3>login</h3>
    <div class=col-4>
      <div class=row>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>
      </div>

    </div>

  </div>