<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navBar" id="navBar">
      <div class="nav-item">
        <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./home">home</a>
          <a class="nav-btn" onclick="window.location" aria-current="page"
          href="./login">logout</a>
      </div>
  </div>
  </div>
</nav>

<h1>Comment</h1>

    <div class="form">
      <textarea class="form-control" id="commentArea" placeholder="comment"></textarea>
      <label for="floatingInput">comment</label>
    </div>
    <div class="form">
      <textarea class="form-control" id="dateEntry" placeholder="date"></textarea>
      <label for="floatingInput">date</label>
    </div>


    <button id="savebtn" type="submit" class="btn createbtn">create</button>

  </div>

</div>