<nav class="navbar">
  <div id="navBar">
      <div class="nav-items">
        <a class="btn" onclick="window.location" aria-current="page"
          href="./home">home</a>
          <a class="btn" onclick="window.location" aria-current="page"
          href="./login">login</a>
      </div>
  </div>
  </div>
</nav>
<div class="basic blog" ><div class="title">My Tech Blog</div>

<div class="card">

<div class="basic">Create User</div>

  <div class="basic">
    <div class="form-floating mb-3">
      <div>enter name : </div>
      <input type="name" class="form-control" id="name" placeholder="name">
    </div>
    <div class="form-floating mb-3">
      <div>enter username : </div>
      <input type="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="form-floating mb-3">
       <div>enter email : </div>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-floating mb-3">
      <div>enter password : </div>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <a class="btn" id="savebtn" onclick="window.location" aria-current="page"
          href="/login">create</a>

  </div>
  </div>

  </div>

