<nav class="navbar">
  <div id="navBar">
      <div class="nav-items">
        <a class="btn" onclick="window.location" aria-current="page"
          href="/home">home</a>
          <a class="btn" id="logout" onclick="window.location" aria-current="page"
          href="/login">logout</a>
          <a class="btn" onclick="window.location" aria-current="page"
          href="/newPost">new post</a>
      </div>
  </div>
  </div>
</nav>
<div>
  <div class="basic blog" >My Tech Blog

    <div class="basic">edit comment!</div>
    <section class="post basic">
      {{#each thisCommentEdit as |comment|}}
      <p>{{> commentEdit}}</p>
      {{/each}}
  </section>
</div>
</div>

<script src="/js/logout.js"></script>