<nav class="navbar">
  <div id="navBar">
      <div class="nav-items">
        <a class="btn" onclick="window.location" aria-current="page"
          href="/home">home</a>
          <a class="btn" id="logout" onclick="window.location" aria-current="page"
          href="/login">logout</a>
          <a class="btn" onclick="window.location" aria-current="page"
          href="/newPost">new post</a>
      </div>
  </div>
  </div>
</nav>
<div>
  <div class="basic blog" >My Tech Blog
  
  <section>
    <section class="post basic">
      {{#each thisPost as |post|}}
      <p>{{> note}}</p>
      {{/each}}
    </section>
    <section class="comment basic">
      {{#each thisPostComments as |post|}}
      <p>{{> comments}}</p>
      {{/each}}
    </section>
  </section>
</div>
</div>

<script src="/js/logout.js"></script>